@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

:root {
    --primary-light: #74a84a;
    --primary-dark: #2c541d;
    --black: #0000;
    --white: #efefef;
}

body{
    padding: 10px;
}

a {
    text-decoration: none;
    color: inherit;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(./first.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 8px;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 32px 0;
    color: var(--white);
}

nav ul {
    display: flex;
    list-style: none;
    gap: 32px;
    font-size: 24px;
}

nav .logo {
    font-size: 32px;
    color: #F8DFD4;
    font-weight: 600;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 60px;
}

.header-content h1 {
    font-size: 60px;
    color: var(--white);
    font-weight: 500;
}

.header-content p {
    font-size: 40px;
    color: var(--white);
}

.primary-btn {
    padding: 10px 24px;
    background-color: var(--primary-light);
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.primary-btn:hover {
    background-color: var(--primary-dark);
}

.menu-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: var(--primary-light);
    padding: 8px 12px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#services {
    display: flex;
    margin-top: 120px;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

.service p {
    color: grey;
}

.service {
    width: 300px;
}

.service img {
    max-width: 100%;
}

#about {
    display: flex;
    margin-top: 120px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-content h1 {
    font-size: 32px;
    color: var(--primary-dark);
    text-transform: uppercase;
}

#about img {
    max-width: 100%;
}

#talk-to-us {
    background-image: url(./talk.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
    margin-top: 120px;
}

.talk-to-us-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    gap: 16px;
    padding: 0 16px;
}

.talk-to-us-content h1 {
    color: var(--white);
}

.talk-to-us-content p {
    max-width: 500px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 16px 0;
    align-items: center;
}

footer ul {
    display: flex;
    list-style: none;
    gap: 32px;
}

footer .logo {
    color: var(--primary-dark);
}

@media (max-width:520px) {
    #header {
        min-height: 50vh;
        width: 100%;
    }

    .header-content h1 {
        font-size: 32px;
    }

    .header-content p {
        font-size: 24px;
    }

    .menu-btn {
        display: block;
    }

    nav {
        padding: 16px;
    }

    nav ul.active {
        margin-right: 0;
    }

    nav ul {
        display: none;
    }

    /* nav ul{
        position: absolute;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: var(--white);
        width: 80%;
        height: 100%;
        align-items: end;
        padding-top: 80px;
        margin-right: -900px;
        transition: all 0.3s ease;
    }
    nav  li{
        border-bottom: 1px solid var(--primary-dark);
        width: 100%;
        padding: 8px 16px;
        text-align: right;
    } */
    footer {
        flex-direction: column;
        align-items: center;
        padding: 32px 0;
    }
}